
.container {
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px; 
  background: rgba(255, 255, 255, 0.712);
/*   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.30);
  box-shadow: -10px 10px 10px 5px grey; */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: center;
  text-align: center;
  width: 50%;
  margin-top: 5%;
  margin-left: 23%;
  padding: 30px;
  border-radius: 10px;

}

.container input[type=text],
select {
  width: 50%;
  font-size: 15px;
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
  border: none;
  outline: none;
}
.container input:focus {
  background: #000;
  color: #dde1e7;
  border: 2px solid cyan;
  box-shadow: 0 8px 32px 0 rgba(143, 149, 226, 0.3);
}

button {

  padding: 10px;
  border-radius: 7px;
  background: #000;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 13px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-pos {

  position: relative;
  left: 25%;
  top: -38px;

}

.list-heading {
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listdata {
  padding: 3px;
  color: black;
  font-size: 15px;
  width: 50%;
  border-radius: 5px;
  margin-left: 120px;
}

h1 {
  color: blue;
}

.btn {

  width: 40%;
  padding: 10px;
  border-radius: 15px;
  background: #000;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 13px;

}

@media (max-width:768px) {



  .container {
/*     background: rgba(230, 235, 209, 0.1);
    box-shadow: 0 8px 32px 0 rgba(177, 181, 228, 0.30); */
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px; 
    background: rgba(255, 255, 255, 0.712);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-top: 30%;
    margin-left: 30px;

  }

  .listdata {
    font-size: 15px;
    width: 60%;
    padding: 8px;
    margin-left: 10px;
  }

  .btn-pos {

    position: relative;
    left: 27%;

  }

  .list-heading {
    font-size: 20px;
  }

  input::placeholder {
    font-size: 10px;
  }

}
